
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: sans-serif; 
}

.grey {
    background: rgba(128, 128, 128, 0.404);
}

.bodyTransition {
    transition-property: opacity;
    transition-duration: 1s;
}

.bodyOpacityBefore {
    opacity: 0;
}

.bodyOpacityAfter {
    opacity: 1;
}


/* HEADER SECTION */

header {
    width: 100%;
    min-height: 100px;
    box-shadow: 1px 2px 3px silver;
    margin-bottom: 30px;
}

header img {
    width: 100px;
    margin: 10px;
}


/* JUMBOTRON SECTION */

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron img {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    padding: 10px;
}

@media screen and (max-width: 767px){
    .jumbotron img {
        width: 100%;
    }
}


/* ABOUT SECTION */ 

.about {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

span {
    margin: 20px;
}

span:nth-child(1){
    max-width: 500px;
}

.about img {
    width: 500px;
}


/* FOOTER SECTION */

footer {
    width: 100%;
    height: 100px;
    background: rgb(53, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
